*~
*.db
*.db-shm
*.db-wal
*.gz
*.lcov
*.log
*.log*
*.out
*.pid
*.pid.lock
*.seed
*.swp
*.tar
*.tgz
*.tmp
*.tsbuildinfo
.DS_Store
.archive/
.cache/
.code/
.env
.env.*
.eslintcache
.idea/
.npm
.pnp.*
.stylelintcache
.temp
.vscode/
.vscode-test
.yarn/
.yarn-integrity
build/
coverage
data/
logs/
node_modules/
npm-debug.log*
tmp/
web_modules/
