*~
*.gz
*.lcov
*.log
*.log*
*.out
*.pid
*.pid.lock
*.seed
*.swp
*.tar
*.tgz
*.tmp
*.tsbuildinfo
.archive/
.cache/
.code/
.env
.env.*
.eslintcache
.idea/
.npm
.pnp.*
.stylelintcache
.temp
.vscode/
.vscode-test
.yarn/
.yarn-integrity
build/
coverage
logs/
node_modules/
npm-debug.log*
web_modules/
